---
import AgentLayout from "../../../layouts/AgentLayout.astro";
---
<AgentLayout frontmatter={{ title: "PsyNova Infrastructure" }}>
  <h1>PsyNova Infrastructure</h1>
  <p>CONTENT_INTAKE_PENDING</p>
</AgentLayout>
