---
import AgentLayout from "../../layouts/AgentLayout.astro";
---
<AgentLayout frontmatter={{ title: "Spine Accountant" }}>
  <h1>Spine Accountant</h1>
  <p>CONTENT_INTAKE_PENDING</p>
</AgentLayout>
