---
import AgentLayout from "../../layouts/AgentLayout.astro";
---
<AgentLayout frontmatter={{ title: "Luki Checking Rope" }}>
  <h1>Luki Checking Rope</h1>
  <p>CONTENT_INTAKE_PENDING</p>
</AgentLayout>
