---
import AgentLayout from "../../layouts/AgentLayout.astro";
---
<AgentLayout frontmatter={{ title: "Root Da Probleme" }}>
  <h1>Root Da Probleme</h1>
  <p>CONTENT_INTAKE_PENDING</p>
</AgentLayout>
